@model ChangePasswordVM
@{
    ViewData["Title"] = "Change Password";
}

<main id="main">
    <section class="services" id="services">
        <br /> <br /> <br />
        <div class="container">
            <div class="section-title">
                <h2>Change Your Password</h2>
                <p>Fill the form to change your password.</p>
            </div>

            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <partial name="_notification" />
                            <form method="post" asp-action="ChangePassword" asp-controller="Home">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="CurrentPassword" class="form-control" placeholder="Your Current Password" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="NewPassword" class="form-control" placeholder="Your New Password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Your New Password" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>

                                <div class="text-center"><button type="submit" class="appointment-btn">Change Password</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>