@model ContactAddVM

@{
    ViewData["Title"] = "Contact";
}

<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <br /> <br/> <br />
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Do you need to reach us? We are available 24/7 at the details and location below.</p>
            </div>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="container">
            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>
                                9C Omego crescent, Lekki Phase 1, Lagos
                            </p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@aviclimited.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p> +234 706 275 0818</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <partial name="_notification" />
                    <form method="post" asp-action="Contact" asp-controller="Home">

                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input asp-for="ContactName" class="form-control" placeholder="Your Name" />
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input asp-for="ContactEmail" class="form-control" placeholder="Your Email" />
                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="ContactSubject" class="form-control" placeholder="Subject" />
                            <span asp-validation-for="ContactSubject" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" asp-for="ContactMessage" placeholder="Message"></textarea>
                            <span asp-validation-for="ContactMessage" class="text-danger"></span>

                        </div>
                        
                        <div class="text-center"><button type="submit" class="appointment-btn">Send Message</button></div>

                    </form>

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->
</main>