@{
    Layout = null;
}

<div id="browseFile">
    @foreach (var item in @ViewBag.fileInfo)
    {
        <div class="img-thumbnail">
            <img src="~/uploads/@item.Name" alt="thumb" title="@item.Name" width="120" height="100" />
            <br />
            @item.Name
        </div>
    }
</div>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        var funcNum = @(Context.Request.Query["CKEditorFuncNum"] + ";");
        $("#browseFile").on('click', 'img', function () {
            var fileUrl = '/uploads/' + $(this).attr('title');
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
            window.close();
        }).hover(function () {
            $(this).css('cursor', 'pointer');
        });
    });
</script>
