@model SignInVM
@{
    ViewData["Title"] = "Sign In";
}

<main id="main">
    <!-- ======= Why Us Section ======= -->
    <section class="services" id="services">
        <br /> <br /> <br />
        <div class="container">
            <div class="section-title">
                <h2>Sign In</h2>
                <p>Sign in with your registered credentials.</p>
            </div>

            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <partial name="_notification" />
                            <form method="post" asp-action="Login" asp-controller="Home">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" placeholder="Your Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control" placeholder="Your Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="text-center"><button type="submit" class="appointment-btn">Login</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>