@model IList<CategoryListVM>
@inject AvicLimited.Web.Repositories.Interface.ICategoryRepository _catRepo

@{
    ViewData["Title"] = "Services";
}

<main id="main">
    <!-- ======= Why Us Section ======= -->
    <section class="services" id="services">
        <br /> <br /> <br />
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>We offer a lot, we offer value for money.</p>
            </div>

            <div class="row">
                <h2>We offer the following:</h2>

                @foreach (var item in Model)
                {
                    <div class="col-lg-12 mb-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>@item.CategoryName</h3>
                            <p>
                                @Html.Raw(item.CategoryDescription)
                            </p>
                            @if (item.Subcategories.Any())
                            {
                                <p>We offer the following services under @item.CategoryName</p>
                                <ul>
                                    @foreach (var sub in item.Subcategories)
                                    {
                                        <li>@sub.SubcategoryName</li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
                
                
            </div>

        </div>
    </section>
    <!-- End Why Us Section -->
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Request a quote</h2>
                <p>
                    Would you like to know what your next project will cost you and how it can be achieved,
                    request a quote and we will get back to you soonest.
                </p>
            </div>

            <form asp-action="QuoteAdd" asp-asp-controller="Home" method="post">

                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control" id="QuoteName" name="QuoteName" required placeholder="Your Name">
                    </div>

                    <div class="col-md-4 form-group">
                        <input type="email" class="form-control" name="QuoteEmail" id="QuoteEmail" required placeholder="Your Email">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="tel" class="form-control" name="QuotePhone" id="QuotePhone" required placeholder="Your Phone Number">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md-4 form-group">
                        <select name="CategoryId" id="CategoryId" required class="form-control" asp-items="(await _catRepo.GetCategories()).Select(x => new SelectListItem() { Text = x.CategoryName, Value = x.CategoryId.ToString()})">
                            <option>Please choose category</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control" name="QuoteBudget" id="QuoteBudget" required placeholder="Budget">
                    </div>

                </div>

                <div class="form-group">
                    <textarea class="form-control" name="QuoteMessage" id="QuoteMessage" rows="5" placeholder="Message (Optional)"></textarea>
                </div>
                
                <div class="text-center"><button type="submit" class="appointment-btn">Submit Quote</button></div>
            </form>

        </div>
    </section>
    <!-- End Appointment Section -->
    
</main>