<!-- ======= Header ======= -->

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <a asp-action="Index" asp-controller="Home" class="logo mr-auto">
            <img src="~/assets/img/avic-logo.png" alt="" class="img-fluid">
            <span class="text-dark font-weight-light">Avic Limited</span>
        </a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a asp-action="Services">Services</a></li>
                <li class="drop-down">
                    <a href="#">Projects</a>
                    @await Component.InvokeAsync("Categories")
                </li>
                <li><a asp-action="Contact">Contact</a></li>
                <li><a asp-area="Admin" asp-controller="Admin" asp-action="Index" target="_blank">Admin Area</a></li>

            </ul>
        </nav>
    </div>
</header>
