<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Avic</h1>
        <h2>We are your team of experienced and well-groomed engineer that will make your next construction project a success.</h2>
        <a href="#about" class="btn-get-started scrollto">More About Avic</a>
    </div>
</section>
