<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Avic</h1>
        <h2>Let's get your construction project started.</h2>
        <a href="#about" class="btn-get-started scrollto">More About Avic</a>
    </div>
</section>
